* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(184, 180, 180);
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    margin: 10px 0 30px 15px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;

}

h2 {

        margin: 20px 0 20px 15px;
        color: #555;
        font-size: 160%;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 4px;
    

}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 15px;

}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #1abc9c;
}

.tietoa {
    margin: 30px 0 0 20px;
    margin-bottom: 0;
    border-bottom: 2px solid #1abc9c;
    width: 12%;
}

.tietoteksti { 
    margin-top: 2%;
    line-height: 145%;
    width: 70%;
    margin-left: -9%;
    color: #fff;
    position: fixed;
}

.ue4 {
    margin-top: 20px;
    padding: 0;
}

.ue4-kuvat {
    list-style: none;
    width: 100%;
}

.ue4-kuvat li {
    display: block;
    float: left;
    width: 50%;
}

.unrealkuvat {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.unrealkuvat img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0,5s, opacity 0.5s;

}






