/* Big tablet to 1200px (widths smaller that the 1140px row */
@media only screen and (max-width: 1200px) {
    .hero-text {
        width: 100%;
        padding: 0 2%;
        margin-left: 10%;
    }


    .tietoteksi {
        margin-left: 20%;
        position: relative;
    }

}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {


    .hero-text { padding: 0 4%;
    margin-left: 20%; }

    
    .h1 { font-size: 180%;}

    .tietoteksi {

        font-size: 120%;
         width: 80%;
        margin-left: 40px;
        
    }
    .main-nav li {
        margin-left: 30px;
        margin-right: 15px;
        padding: 1% 0;
    }

    
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    
    .row,
    .hero-text { padding: 0 4%;
                margin-left: 65%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0%;
    }

    .main-nav li {
        margin-left: 30px;
        padding: 1% 0;
    
    }

    .tietoteksi { 
        margin-left: 10px;
        margin-right: 10px;
    }






}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section {padding: 25px 0;}
    .row,
    .hero-text {
        padding: 0 2%;
        margin-left: 10%;
    }
    .hero-text {
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
    }
    .main-nav li {
        margin-left: 30px;
        padding: 1% 0;
    
    }
    


}

