/* Big tablet to 1200px (widths smaller that the 1140px row */
@media only screen and (max-width: 1200px) {




}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {



    .main-nav li {
        margin-left: 30px;
        margin-right: 15px;
        padding: 1% 0;
    }

    
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {


    .main-nav li {
        margin-left: 30px;
        padding: 1% 0;
    
    }







}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    .main-nav li {
        margin-left: 30px;
        padding: 1% 0;
    
    }
    


}

