* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(kokemus.jpg);
    background-color: rgb(184, 180, 180);
    background-attachment: fixed;
    color: #fff;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    margin: 10px auto 20px auto;
    display: table;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
    border-bottom: 1px solid #1abc9c;

}

h2 {
    margin: 10px auto 20px auto;
    display: table;
    color: #fff;
    font-size: 180%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
    border-bottom: 1px solid #1abc9c;
}



.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 15px;
}


.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #1abc9c;
}

.ion-social-facebook
.ion-social-twitch
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998
}

.ion-social-twitch:hover {
    color: #6441a5;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.social-links {
    list-style: none;
    bottom: 1%;
    position: absolute;
    right: 10%;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}



.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links a:visited {
    text-decoration: none;
    border: 0;
    color: rgb(207, 205, 205);
    transition: color 0.2s;
}


.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.tyoaika, .koulutusaika {margin: 5px 0 10px 10px;}
.tyopaikka, .koulu {margin: 5px 0 15px 10px;}
.tyonkuva, .selite { 
    margin: 5px 0 20px 10px;}
.toimenkuva { margin: 5px 0 20px 10px;}

