* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.omakuva {
    height: 600px;
    width: auto;
    float: left;
    margin-top: 20px;
    
   
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(OMAKUVA.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;

}
.hero-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #1abc9c;
}

.social-links {
    list-style: none;
    bottom: 1%;
    position: absolute;
    right: 10%;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}



.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}


.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook
.ion-social-twitch
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998
}

.ion-social-twitch:hover {
    color: #6441a5;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.tietoa {
    margin: 30px 0 0 20px;
    margin-bottom: 0;
    border-bottom: 2px solid #1abc9c;
}

